ul{
    display: flex;
    list-style-type: none;
    gap: 14px;
    margin: 10px;
    padding: 0;      
    
}
.logo{font-size: 24px; padding-left: 10px;}

nav{display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;

}
a{text-decoration: none;
    color: white;
    display: flex;    
}

.header{
    display: flex;
    height: 72px;
    background-color: #1f2739;
    
}
.footer{
    background-color: #1f2739;
    color: white;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.title{
    display: flex;
    flex: 1;
    justify-content: space-around;
    background-color: #1f2739;
    padding: 20px;
    }
h1{
    font-size: 48px;
}
.title .left-side{
    display: flex;
    flex-direction: column;
    width: 35vw;
    color: white;
    
}
.title img{
    align-self: center;    
    width: auto;
    height: 240px;
}
.joinbtn, .signbtn{
    align-self: flex-start;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 70px;
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;

}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{ font-size: 36px;
    color:#1f2739;
    font-weight: bolder;
    text-align: center;
    }
.infocontent{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 12px;
}
.infocontent img{
    width: 100px;
    height: auto;
    border-radius: 5px;
    border: 2px solid #3882f6;
    transition: 0.3s;   
}
.infocontent img:hover{
    transform: scale(2.5);
}
.infocontent p{
    width: 100px;
    text-wrap: wrap;
}
.quote{
    display: flex;
    background-color: #e5e7eb;
    flex: 1;
    padding: 70px;
    flex-direction: column;
}
.quotetext{
    font-size: 36px;
    font-style:italic;
    color: #1f2739;
}
.quoteauthor{
    align-self: flex-end;
    font-size: 36px;
    color: #1f2739;
}
.bottom{
    display: flex; 
    background-color: white;
    justify-content: center;
    padding: 40px;    
    align-items: center; 
       
}
.bottomcontent{
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    padding: 20px;
    border-radius: 5px;
    height: 10vh;
    
}
.bottom .left-side{
    color: white;    
    padding: 40px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    
}
.signbtn{
    border: 2px solid #e5e7eb;
    align-self: center;
    text-wrap: nowrap;
}
.bottomcontent p{
    text-wrap: wrap;
}


